<%
  viewBag.pageCode = 'detail';
  viewBag.cssFiles = ["detail"];
  viewBag.releaseCss = '';
%>
<% include ../common/header.ejs %>
<!--begin body-->

	<div class="page-banner" id="page-banner">
		<span class="text"><%= partInfo.partName %></span>
	</div>

	<div class="page-cont detail">
		<div class="part-info-wrap clearfix">
			<div class="part-big-img"><img id="focus-img" src="" alt="" width="398" height="398"></div>
			<div class="part-info">
				<ul class="info-list clearfix">
					<li><span class="label">配件件号：</span><span class="text"><%= partInfo.partNo %></span></li>
					<li><span class="label">重量：</span><span class="text"><%= partInfo.weight %></span></li>
					<li><span class="label">配件名称：</span><span class="text"><%= partInfo.partName %></span></li>
					<li><span class="label">长：</span><span class="text"><%= partInfo.length %></span></li>
					<li><span class="label">最小包装数：</span><span class="text"><%= partInfo.minQty %></span></li>
					<li><span class="label">宽：</span><span class="text"><%= partInfo.width %></span></li>
					<li><span class="label">价格（元）：</span><span class="text"><%= partInfo.price %></span></li>
					<li><span class="label">高：</span><span class="text"><%= partInfo.height %></span></li>
					<li><span class="label">币种：</span><span class="text"><%=  %></span></li>
					<li><span class="label">配件类型：</span><span class="text"><%= partInfo.type %></span></li>
					<li><span class="label">规格型号：</span><span class="text longer"><%= partInfo.dimensionNo %></span></li>
					<li><span class="label">备注：</span><span class="text longer"><%= partInfo.specialPurchaseNote %></span></li>
				</ul>
				<div class="operation"><a href="javascript:;" class="buy"><span class="icon"></span><span class="text">购买</span></a></div>
				<div class="img-list">
					<a href="javascript:;" class="arrow-left" id="arrow-left"></a>
					<div class="list-container" id="img-list-container">
						<ul class="list" id="img-list">
							<% if (partInfo.photos && partInfo.photos.length > 0) { %>
								<% partInfo.photos.forEach(function(photo){ %>
									<li><img width="76" height="76" src="<%= photo.photoFile %>" /></li>
								<% }) %>
							<% } %>
						</ul>
					</div>
					<a href="javascript:;" class="arrow-right" id="arrow-right"></a>
				</div>
			</div>
		</div>

		<div class="detail-table">
			<div class="page-tab" id="tab-list">
				<a class="item" data-field="supplier" href="javascript:;">供应商信息</a>
				<a class="item" data-field="supersession" href="javascript:;">替换关系</a>
				<a class="item" data-field="kit" href="javascript:;">维修包</a>
			</div>
			<div class="detail-table-list" id="table-list">
				<% include supplier.ejs %>
				<% include supersession.ejs %>
				<% include kit.ejs %>
			</div>
		</div>

	</div>

<% include kit_detail.ejs %>

<!--end body-->
<% include ../common/footer.ejs %>
